* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #ecf0f3;
}

/* For Desktop size screen */
nav {
  background: #ecf0f3;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #c6c6c6;
}
label.logo {
  color: rebeccapurple;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 100px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li .active{
  color: rebeccapurple;
}

nav ul li a {
  color: #000;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.checkbtn {
  font-size: 30px;
  color: rebeccapurple;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.header_banner{
  background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) , url(../img/background1.jpg);
  background-size: cover;
	background-repeat: no-repeat;

}
.header_content {
  min-height: 600px;
  width: 90%;
  margin: auto;
  display: flex;
  gap: 10px;

}
.header_content .intro {
  padding: 100px 0px 0px 20px;
  width: 70%;
  color: rgb(226, 241, 255);
}
.header_content .intro h5 {
  padding-bottom: 10px;
}
.header_content .intro h1 {
  font-size: 3rem;
}
.header_content .intro h1 span {
  color: rgb(16 189 255);
}
.header_content .intro h2 {
  font-size: 2rem;
  padding: 10px 0px;
}
.header_content .intro h3 {
  padding: 30px 0px 10px 0px;
}
.header_content .intro p {
  width: 70%;
}
.header_content .intro p span {
  font-size: 2rem;
  padding: 0px 0px 20px 0px;
}
.header_content .intro p span a {
  padding: 0px 10px 0px 0px;
  color: #fff;
}

.profile {
  width: 40%;
}
.profile img {
  width: 70%;
  align-items: start;
  box-shadow: 10px 10px 5px;
  margin: 30px 40px 0px 0px;

}

.services_banner{
  background:#101827;

}

.services {
  width: 90%;
  margin: auto;
  min-height: 750px;
  color: #fff;
}
.services h1 {
  padding-top: 70px;
  padding-bottom: 20px;
  color: #7e22c4;
}
.services p {
  width: 50%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  padding-top: 50px;
}
.flex-container i{
  font-size: 30px;
  padding: 25px 0px;
}
.flex-container h2{
  padding: 10px 0px;
  font-weight: bolder;
}
.flex-container p{
  padding-top: 10px;
  width: 80%;
}
.card01 {
  min-height: 300px;
  width: 30%;
  margin: auto;
  
}
.card_header:hover{
  color: #7e22c4;
}
.card_header{
  transition: 0.3s;
}
.card02 {
  min-height: 300px;
  width: 30%;
  margin: auto;
}
.card03 {
  min-height: 300px;
  width: 30%;
  margin: auto;
}

.portfolio_banner{
  background: #1f2937;
}
.portfolio_section{
  min-height: 450px;
  width: 90%;
  margin: auto;
  padding-top: 50px;
  color: #fff;
}
.portfolio_section h1{
  color:  #7e22c4;
  padding-bottom: 20px;

}
.flex-container1 {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  padding-top: 50px;
  gap:20px;
}
.card07, .card08, .card09{
  min-height: 500px;
  width: 30%;
  margin: auto;
  padding-bottom: 50px;
}
.card04, .card05, .card06 {
  min-height: 200px;
  width: 100%;
  position: relative;
}
.card04 img, .card05 img, .card06 img {
  width: 100%;
  height: 100%;
}
.overlay{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: #27292a;
  cursor: pointer;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center;
}
.card04:hover .overlay{
  opacity: 0.9;
}
.card05:hover .overlay{
  opacity: 0.9;
}
.card06:hover .overlay{
  opacity: 0.9;
}
.content a{
  border: 2px solid #6E07F3;
  padding: 10px;
  border-radius: 30px;
  font-weight: 700;
  font-size: medium;
  transition: 0.5s;
  color: #fff;
}
.content a:hover{
  background-color: #6E07F3;
  color: #fff;
}
.description h2{
  padding:20px 0px;
}



.footer{
  min-height: 300px;
  background-color: #3e4371;
}
.footer_content{
  width: 90%;
  min-height: 300px;
  margin:auto;
}
.flex_footer_container {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  padding-top: 50px;
  gap:20px;
  color: #fff;

}
.row01{
  width: 40%;
}
.row01 p{
  padding: 20px 0px;
  width: 90%;
}

.row02{
  width: 35%;
}
.row02 p{
  padding: 20px 0px;
}
.row02 input{
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
}
.row02 input::placeholder{
  padding-left: 20px;
}

.row02 a{
  border: 1px solid #fff;
  padding: 10px 10px;
  color: #fff;
}
.row03{
  width: 25%;
}
.row03 p{
  padding: 20px 0px;
}
.row03 h5 a{
  padding: 0px 20px 0px 0px;
  font-size: 2rem;
  color: #fff;
}



/* For mobile responsive */
@media (max-width: 990px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 18px;
    color: #fff;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .header_content {
    flex-direction: column;
    gap: 10px;
    min-height: 1200px;
  }
  .header_content .intro {
    padding: 50px 0px 0px 20px;
    width: 100%;
  }
  .header_content .intro p {
    width: 100%;
  }
  .profile {
    width: 100%;
  }
  .profile img {
  width: 90%;

}
  .services p {
    width: 90%;
  }
  .flex-container {
    flex-direction: column;
  }
  .card01 {
    min-height: 300px;
    width: 100%;
    margin: auto;
  }
  .card02 {
    min-height: 300px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    
  }
  .card03 {
    min-height: 300px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
  }
  .flex-container1 {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
  }
.card07, .card08, .card09{
  min-height: 400px;
  width: 100%;
  margin: auto;
}
  .card04, .card05, .card06 {
    min-height: 200px;
    width: 100%;
  }
  .flex_footer_container {
    flex-direction: column;
  }
  .footer{
    min-height: 750px;
    background-color: #8490ff;
  }
  .row01, .row02, .row03{
    width: 100%;
  }
}
